.portfolio__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image img {
    border-radius: 2rem;
    overflow: hidden;
}

.portfolio__item h3 {
    margin: 1.2rem 0rem 2rem;
    text-align: center;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* Media query */
/* Mid Devices Media queries */
@media screen and (max-width : 1024px) {
    .portfolio__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}


/* Small Devices Media queries */
@media screen and (max-width : 600px) {
    .portfolio__container {
        grid-template-columns:  1fr;
        gap: 1rem;
    }

}

/* Handling small screen mobiles */
@media screen and (max-width : 430px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .portfolio__item {
        padding: 0.9rem;
    }

    .portfolio__item h3 {
        margin: 0.7rem 0rem 1rem;
        text-align: center;
    }
}